* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb {
  background: #ff8000;
}

::-webkit-scrollbar-thumb:hover {
  background: #bc5e00;
}

header {
  display: flex;
  align-items: center;

  width: 100%;
  max-height: 164px;
  padding: 16px 16px;

  color: white;
  background-color: #ff8000;
  z-index: 2;
}

header img {
  width: 250px;
  height: 60px;
}

.hamburger_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 48px;
  height: 34px;
  position: absolute;
  top: 28px;
  right: 28px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

header span {
  width: 100%;
  height: 4px;
  background-color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  position: relative;

}

footer {
  position: relative;
  background-color: #f57c00;
  width: 100%;
  height: 60px;
}
