* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  max-height: 100vh;
  background-color: #fafafa;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb {
  background: #ff8000;
}

::-webkit-scrollbar-thumb:hover {
  background: #bc5e00;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ff8000;
  z-index: 100;
  position: relative;
  color: white;
  max-height: 164px;
  padding: 16px 16px;
}

header img {
  width: auto;
  height: 54px;
}

header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 48px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}


.responsive_cart_button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-size: 24px;
  position: sticky;
  z-index: 99;
  bottom: 0px;
  border: 2px solid #e9e8e3;
}

.close_responsive_cart_button {
  display: none;
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 0px;
}

header span {
  width: 100%;
  height: 4px;
  background-color: white;
}

main {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 152px);
  position: relative;
}

footer {
  position: relative;
  bottom: 0px;
  background-color: #f57c00;
  width: 100%;
  height: 60px;
  z-index: 100;
}
