.cart {
  display: flex;
  flex-direction: column;
  
  width: 350px;
  min-height: calc(100vh - 152px);
  padding: 16px;
  gap: 12px;

  position: sticky;
  top: 0px;
  left: 0px;

  opacity: 0;
  background-color: white;
  border-left: 1px solid #ddd;
  box-shadow: 0px 5px 15px 3px #00000040;

  overflow-y: hidden;
  transform: translateX(200%);
  transition: transform 0.3s ease;
  z-index: 1;
}

.cart.active {
  opacity: 1;
  transform: translateX(0%);
}

.cart.hidden {
  opacity: 0;
  transform: translateX(200%);
}

.cart_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 12px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 6px 0;
}

.cart-item div {
  width: 50%;
}

.cart_item_description {
  display: flex;
  flex-direction: column;
  
  gap: 12px;
}

.cart-item span {
  font-weight: bold;
}

.cart-item button {
  background: none;
  border: none;
  color: #f57c00;
  font-size: 18px;
  cursor: pointer;
}

.cart-summary {
  display: flex; 
  flex-direction: column;

  gap: 12px;
  border-top: 1px solid #ddd;
  padding-top: 8px;
}

.trash_nh_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 12px;
}

.cart_dialog {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 600px;
  gap: 12px;

  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  
  border: 2px solid #dddddd;
  border-radius: 12px;

  transform: translate(-50%, -50%);
  z-index: 10;
}

.close_cart_dialog_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 38px;
  height: 38px;
  padding: 6px;
  
  position: absolute;
  top: 0px;
  right: 0px;
}