.cart {
  flex-direction: column;
  
  width: 350px;
  min-height: 100vh;
  padding: 16px;
  gap: 12px;

  position: sticky;
  top: 0px;
  left: 0px;

  background-color: white;
  border-left: 1px solid #ddd;
  box-shadow: 0px 5px 15px 3px #00000040;

  overflow-y: auto;
  transform: translateX(110%);
  transition: transform 0.3s ease;
  z-index: 10;
}

.cart.active {
  transform: translateX(0%);
}

.cart.hidden {
  transform: translateX(110%);
}

.cart_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 12px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 6px 0;
}
.cart-item div {
  width: 50%;
}

.cart-item span {
  font-weight: bold;
}

.cart-item button {
  background: none;
  border: none;
  color: #f57c00;
  font-size: 18px;
  cursor: pointer;
}

.cart-summary {
  margin-top: auto;
  border-top: 1px solid #ddd;
  padding-top: 8px;
}

.trash_nh_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 12px;
}
