.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: -350px;
  transition: all 300ms ease;
}

.menu.shifted {
  width: calc(100% - 350px);
  margin-right: 0px;
}

.menu_title {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu_title_background_img {
  width: 100%;
  height: 164px;
  object-fit: cover;
}

.menu_title_logo_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 164px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.menu_title h1,
.menu_title p {
  display: flex;
  position: relative;
  top: 0px;
  padding: 8px 16px;
}

.menu_group_selection {
  display: flex;
  position: relative;
  background-color: bisque;
}

.menu_group_selection img {
  width: 50px;
  height: 42px;
  margin: 6px 16px;
}

.menu_tab_text {
  display: flex;
  align-items: center;
  position: relative;
  gap: 16px;
}

.menu_tab {
  cursor: pointer;
}

.tab_indicator {
  position: absolute;
  top: 0;
  height: 4px;
  background-color: #ff8000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu_list {
  padding: 16px;
}

.menu_list img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: left;
}

.menu_list h3 {
  padding-left: 12px;
  padding-bottom: 12px;
}

.menu_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #e9e8e3;
}

.menu_item_text {
  display: flex;
  flex-direction: column;

  padding: 12px 12px;
  gap: 12px;
}

.menu_item_text p {
  color: #555;
}

.menu_item_text span {
  color: #ff8000;
}

.menu_item_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  font-size: 32px;
  color: #ff8000;
  background-color: rgba(255, 255, 255, 0);
  border-top: none;
  border-right: none;
  border-left: 2px solid #e9e8e3;
  border-bottom: 2px solid #e9e8e3;
  cursor: pointer;
}

.menu_item_button:hover {
  background-color: #ff9800;
}
