@media (max-width: 760px) {
  header section {
    justify-content: center;
  }

  .hamburger_button {
    display: none;
  }

  .responsive_cart_button {
    display: flex;
    z-index: 102;
  }

  .responsive_cart_button.cartActive {
    display: none;
  }

  .close_responsive_cart_button.cartActive {
    display: flex;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: hidden;
  }

  .menu {
    overflow-y: scroll;
  }

  .menu.shifted {
    opacity: 0;
    margin-right: 0;
    width: 100%;
    max-height: 100vh;
  }

  .cart_wrapper {
    width: 100%;
    z-index: 2;
    
    height: 100%;
    bottom: 0px;
    left: 0px;
    transform: translateX(0%);
    transform: translateY(150%);
    transition: transform 0.3s ease;
    
  }
  .cart_wrapper.active {
    position: absolute;
    top: 0px;
    transform: translateY(0%);
  }

  .cart_wrapper.hidden {
    transform: translateX(0%);
    transform: translateY(150%);
  }

  .cart {
    padding: 16px 16px;
    overflow: hidden;
  }

  .cart h2 {
    z-index: 3;
    position: sticky;
    top: 0px;
    Left: 0px;
    padding: 0px 0px;
    background-color: white;
  }

  .cart_list {
    display: none;
    overflow-y: auto;
  }

  .cart_list.active {
    display: flex;
  }


}

@media (max-width: 600px) {
  .menu_title_logo_img {
    top: 86px;
  }
}
@media (max-width: 380px) {

  .menu_group_selection {
    flex-direction: column;
  }

  .menu_tab_text {
    padding: 12px 16px;
    gap: 6px;
    font-size: 14px;
  }

  .tab_indicator {
    top: 36px;
  }
}

@media (min-width: 2600px) {
  .menu {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
  }

}
