@media (max-width: 760px) {
  header section {
    justify-content: center;
  }

  .hamburger_button {
    display: none;
  }

  .responsive_cart_button {
    display: flex;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu.shifted {
    margin-right: 0 !important;
    width: 100% !important;
  }

  .cart {
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    width: 100% !important;
    height: 100vh !important;
    background: white;
    z-index: 1000;

    display: flex !important;
    flex-direction: column;

    transform: translateX(0%) !important;
    transform: translateY(100%) !important;
    transition: transform 0.3s ease;
  }

  .cart.active {
    transform: translateY(0%) !important;
  }

  .cart.hidden {
    transform: translateX(0%) !important;
    transform: translateY(100%) !important;
  }
}

@media (max-width: 380px) {
  .menu_group_selection {
    flex-direction: column;
  }

  .menu_tab_text {
    padding: 12px 16px;
    gap: 6px !important;
    font-size: 14px;
  }

  .tab_indicator {
    top: 36px !important;
  }
}
