@media (max-width: 760px) {
  header {
    justify-content: center;
  }

  .hamburger_button {
    display: none;
  }

  .menu {
    transition: transform 0.3 ease;
    transform: translateY(0%);
  }

  .main_menu_content {
    flex-direction: column;
  }

  .menu.shifted {
    display: none;
  }

  .responsive_cart_button {
    display: flex;
  }

  .cart {
    width: 100% !important;
    min-height: 100vh !important;
  }

  .cart.active {
    opacity: 1;
  }

  .cart.hidden {
    opacity: 0;
  }
}

@media (max-width: 380px) {
  .menu_group_selection {
    flex-direction: column;
  }
  
  .menu_tab_text {
    padding: 12px 16px;
    gap: 6px !important;
    font-size: 14px;
  }

  .tab_indicator {
    top: 36px !important;
  }
}
