@media (max-width: 760px) {
  header section {
    justify-content: center;
  }

  .hamburger_button {
    display: none;
  }

  .responsive_cart_button {
    display: flex;
    z-index: 102;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu.shifted {
    display: none;
    margin-right: 0;
    width: 100%;
  }

  .cart {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 54px);
    background: white;

    display: flex;
    flex-direction: column;

    z-index: 101;
    transform: translateX(0%);
    transform: translateY(150%);
    transition: transform 0.3s ease;
  }

  .cart.active {
    transform: translateY(0%);
  }

  .cart.hidden {
    transform: translateX(0%);
    transform: translateY(150%);
  }

}

@media (max-width: 600px) {
  .menu_title_logo_img {
    top: 86px;
  }
}
@media (max-width: 380px) {

  .menu_group_selection {
    flex-direction: column;
  }

  .menu_tab_text {
    padding: 12px 16px;
    gap: 6px;
    font-size: 14px;
  }

  .tab_indicator {
    top: 36px;
  }
}

@media (min-width: 2600px) {
  .menu {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
  }

}
