.text_color {
  color: #ff8000;
}

.d_none {
  display: none;
}

.button_style {
  font-size: 32px;
  color: #ff8000;
  background-color: rgba(255, 255, 255, 0);
  border-top: none;
  border-right: none;
  border-left: 2px solid #dddddd;
  border-bottom: 2px solid #e9e8e3;
  cursor: pointer;
}

.button_style_two {
  font-size: 20px;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #ff8000;
  border: 1px solid #dddddd;
  border-radius: 24px;
  cursor: pointer;
}