.text_color {
  color: #ff8000;
}

.d_none {
  display: none;
}

.button_style {
  font-size: 32px;
  color: #ff8000;
  background-color: rgba(255, 255, 255, 0);
  border-top: none;
  border-right: none;
  border-left: 2px solid #dddddd;
  border-bottom: 2px solid #e9e8e3;
  cursor: pointer;
}

.button_style_two {
  font-size: 20px;
  padding: 6px 12px;
  color: #ffffff;
  background: #ff8000;
  border: 1px solid #dddddd;
  border-radius: 24px;
  cursor: pointer;
}

.content_cut {
  width: 100%;
  max-width: 1920px;
}

.hover_effect {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.hover_effect:hover {
  transform: scale(1.1);
}